<div class="hero">
	<br />
	<div class="frosty col-10 offset-1 text-center">
		<br />
		<h1>Learn how to play the Piano!</h1>
		<br />
		<h2>Do It Yourself!</h2>
		<br />
		<%= link_to 'Learn More', '#', class: 'btn btn-info' %>
		<br /><br />
	</div>
</div>