<div class="hero">
	<br />
	<div class="frosty col-10 offset-1 text-center">
		<br />
		<h1>Learn how to play the Piano!</h1>
		<br />
		<h2>Do It Yourself!</h2>
		<br />
		<%= link_to 'Learn More', courses_path, class: 'btn btn-info' %>
		<br /><br />
	</div>
</div>
<br />
<div class="row feature text-center">
	<div class="col-12 col-sm">
		<h3> Experience Levels</h3>
		<br />
		<p>Levels ranging from beginner to advance.</p>
	</div>

	<div class="col-12 col-sm">
		<h3> Learn At Your Own Pace</h3>
		<br />
		<p>Enroll and access courses that fit your schedule.</p>
	</div>

	<div class="col-12 col-sm">
		<h3>Join Our Community</h3>
		<br />
		<p>Connect with individuals in our program.</p>
	</div>
</div>