@font-face {
    font-family: 'gondola_sdregular';
    src: font_url('gondola_sd-webfont.woff2') format('woff2'),
         font_url('gondola_sd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}